<section id="home" class="snap-start h-screen bg-home-bg bg-cover">
  <div class="grid grid-cols-1 justify-items-center content-center h-screen g-4 mb-10">
    <div class="p-10 w-max bg-slate-200/30 rounded-[40px]">
      <div class="name-tag text-center">Hi. I’m</div>
      <div class="name-tag text-center">Boris Ajit</div>
    </div>
    <div class="role-text text-center my-8 text-6xl">A Web Developer</div>
    <p class="role-text text-center text-2xl">Crafting seamless digital experiences,<br> one line of code at a time</p>
  </div>
</section>
